@keyframes scheduleInWidth {
  0% {
    left: 50%;
    width: 0;
  }

  50% {
    left: 40%;
    width: 20%;
  }

  100% {
    left: 35%;
    width: 30%;
  }
}

@keyframes scheduleOutWidth {
  0% {
    left: 35%;
    width: 30%;
  }

  50% {
    left: 40%;
    width: 20%;
  }

  100% {
    left: 50%;
    width: 0;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes close {
  from {
    transform: translate(-50%, -50%);
  }

  to {
    transform: translate(0, -50%);
  }
}

$bg: #f2f3f3;
$active-bg: #ffffff;
$break-up: #cdd0d6;

.tags-view {
  width: 100%;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: var(--el-text-color-primary);
  background: $bg;
  position: relative;
  //box-shadow: 0 0 1px #888;

  .scroll-item {
    z-index: 111;
    min-width: 8rem;
    height: 40px;
    border-radius: 3px 3px 0 0;
    padding: 0 6px;
    //box-shadow: 0 0 1px #888;
    position: relative;
    //margin-right: 4px;
    display: inline-block;
    line-height: 40px;
    //transition: all 0.4s;
    cursor: pointer;

    .el-icon-close {
      font-size: 10px;
      color: var(--el-text-color-placeholder);
      cursor: pointer;
      position: absolute;
      top: 50%;
      right: 6px;
      transform: translate(-50%, -50%);
      transition: font-size, color 0.2s;
      width: 1rem;
      height: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;

      &:hover {
        border-radius: 50%;
        color: #fff;
        background: var(--el-color-info-light-7);
      }
    }

    &.is-closable:not(:first-child) {
      &:hover {
        //padding-right: 18px;

        &:not(.is-active) {
          .el-icon-close {
            //animation: close 200ms ease-in forwards;
          }
        }
      }
    }
  }

  a {
    text-decoration: none;
    color: var(--el-text-color-primary);
    padding: 0 4px;
    width: 8rem;
    display: block;

    -webkit-mask-image: linear-gradient(
      to right,
      #000 calc(100% - 100px),
      transparent
    );
    mask-image: linear-gradient(to right, #000 calc(100% - 100px), transparent);
  }

  .scroll-container {
    flex: 1;
    overflow: hidden;
    //padding: 5px 0;
    white-space: nowrap;
    position: relative;
    background: var(--el-bg-color-page);

    .tab {
      position: relative;
      float: left;
      list-style: none;
      overflow: visible;
      white-space: nowrap;
      transition: transform 0.5s ease-in-out;
      padding-top: 4px;

      .scroll-item {
        //transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

        .tab-dividers:hover {
          &:before {
            background-color: transparent;
          }
        }

        &:nth-child(1) {
          margin-left: 10px;
        }
      }
    }
  }

  /* 右键菜单 */
  .contextmenu {
    margin: 0;
    background: #fff;
    position: absolute;
    list-style-type: none;
    padding: 5px 0;
    border-radius: 4px;
    color: var(--el-text-color-primary);
    font-weight: normal;
    font-size: 13px;
    white-space: nowrap;
    outline: 0;
    box-shadow: 0 2px 8px rgb(0 0 0 / 15%);

    li {
      width: 100%;
      margin: 0;
      padding: 7px 12px;
      cursor: pointer;
      display: flex;
      align-items: center;

      &:hover {
        color: var(--el-color-primary);
      }

      svg {
        display: block;
        margin-right: 0.5em;
      }
    }
  }
}

.el-dropdown-menu {
  li {
    width: 100%;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;

    svg {
      display: block;
      margin-right: 0.5em;
    }
  }
}

.el-dropdown-menu__item:not(.is-disabled):hover {
  color: #606266;
  background: #f0f0f0;
}

:deep(.el-dropdown-menu__item) i {
  margin-right: 10px;
}

:deep(.el-dropdown-menu__item--divided) {
  margin: 1px 0;
}
.el-dropdown-menu__item--divided::before {
  margin: 0;
}

.el-dropdown-menu__item.is-disabled {
  cursor: not-allowed;
}

.scroll-item.is-active {
  position: relative;
  background: $active-bg;
  border-radius: 12px 12px 0 0;

  &:not(:first-child) {
    //padding-right: 18px;
  }

  .el-icon-close {
    //transform: translate(0, -50%);
  }

  a {
    color: var(--el-color-primary) !important;
  }
}

.arrow-left,
.arrow-right,
.arrow-down {
  width: 40px;
  height: 38px;
  color: var(--el-text-color-primary);
  position: relative;

  svg {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);

    background: var(--el-bg-color);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}

.arrow-left {
  box-shadow: 5px 0 5px -6px #ccc;

  &:hover {
    cursor: w-resize;
  }
}

.arrow-right {
  box-shadow: -5px 0 5px -6px #ccc;
  border-right: 0.5px solid #ccc;

  &:hover {
    cursor: e-resize;
  }
}

/* 卡片模式下鼠标移入显示蓝色边框 */
.card-in {
  color: var(--el-color-primary);

  a {
    color: var(--el-color-primary);
  }
}

/* 卡片模式下鼠标移出隐藏蓝色边框 */
.card-out {
  border: none;
  color: #666;

  a {
    color: #666;
  }
}

/* 灵动模式 */
.schedule-active {
  //width: 100%;
  //height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  //background: var(--el-color-primary);
}

/* 灵动模式下鼠标移入显示蓝色进度条 */
.schedule-in {
  width: 30%;
  height: 2px;
  position: absolute;
  left: 35%;
  bottom: 0;
  background: var(--el-color-primary);
  z-index: 1001;
  animation: scheduleInWidth 200ms ease-in;
}

/* 灵动模式下鼠标移出隐藏蓝色进度条 */
.schedule-out {
  width: 0;
  height: 2px;
  position: absolute;
  left: 50%;
  bottom: 0;
  background: var(--el-color-primary);
  animation: scheduleOutWidth 200ms ease-in;
}

// 分割线
.tab-dividers {
  position: absolute;
  z-index: 0;
  height: 14px;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -7px;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 1px;
    bottom: 0;
    width: 1px;
    opacity: 1;
    background-color: $break-up;
    transition: opacity 0.2s ease, background-color 0.3s;
  }
}

// 活动时取消不显示分割线
.is-active > div.tab-dividers,
.is-active + div > .tab-dividers {
  position: absolute;
  z-index: 0;
  height: 14px;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -7px;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 1px;
    bottom: 0;
    width: 1px;
    opacity: 1;
    background-color: transparent;
    transition: opacity 0.2s ease, background-color 0.3s;
  }
}

// 活动圆角
.is-active > div.tab-bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  // tab 圆角
  opacity: 1;
  // 新装置
  box-shadow: 12px 12px 0 0 $active-bg, -12px 12px 0 0 $active-bg;

  &::before {
    content: "";
    position: absolute;
    left: -12px;
    bottom: 0;
    width: 12px;
    height: 100%;
    background: $bg;
    border-radius: 0 0 12px 0;
  }
  &::after {
    content: "";
    position: absolute;
    right: -12px;
    bottom: 0;
    width: 12px;
    height: 100%;
    background: $bg;
    border-radius: 0 0 0 12px;
  }
}
