highlightable-input {
  box-sizing: border-box;
  display: inline-block;
  width: 320px;
  overflow: hidden;
  font-size: 14px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: pre;
  cursor: text;
}

highlightable-input[contenteditable] {
  -webkit-user-modify: read-write-plaintext-only;
}

highlightable-input[aria-multiline="true"] {
  height: auto;
  overflow: auto;
  white-space: pre-wrap;
  resize: both;
}

highlightable-input[aria-placeholder]::before {
  position: absolute;
  color: transparent;
  pointer-events: none;
  content: attr(aria-placeholder);
}

highlightable-input:empty::after {
  color: var(--el-text-color-placeholder);
  content: "Search";
}

highlightable-input[aria-disabled="true"] {
  cursor: default;
}

highlightable-input:focus {
  text-overflow: clip;
  outline: none;
}

highlightable-input mark {
  color: inherit;
}
