.line-card {
  border-width: 1px;
  border-radius: 1rem;
  background: var(--el-bg-color);
  border-color: rgba(255, 255, 255, 0.08);
  background-image: linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
}

.text-gradient {
  background: linear-gradient(
    to right bottom,
    rgb(255, 255, 255) 30%,
    rgba(255, 255, 255, 0.38)
  );
  background-clip: text;
  //color: transparent;
}

.mask-keyboard {
  mask-image: linear-gradient(
    transparent 0%,
    rgba(0, 0, 0, 0.57) 33.98%,
    black 100%
  );
}

.mask-linear-faded {
  mask-image: linear-gradient(black, transparent 70%);
}

.mask-radial-faded {
  mask-image: radial-gradient(circle at center center, black, transparent 80%);
}

.mask-shortcutkeys {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 40%,
    black calc(60%),
    transparent 100%
  );
}

.text-shadow {
  text-shadow: rgb(0 0 0 / 56%) 0 3px 12px;
}
