.line-card {
  background: var(--el-bg-color);
  background-image: linear-gradient(
    rgb(255 255 255 / 0%) 0%,
    rgb(255 255 255 / 5%) 100%
  );
  border-color: rgb(255 255 255 / 8%);
  border-width: 1px;
  border-radius: 1rem;
}

.text-gradient {
  background: linear-gradient(
    to right bottom,
    rgb(255 255 255) 30%,
    rgb(255 255 255 / 38%)
  );
  background-clip: text;

  // color: transparent;
}

.mask-keyboard {
  mask-image: linear-gradient(
    transparent 0%,
    rgb(0 0 0 / 57%) 33.98%,
    black 100%
  );
}

.mask-linear-faded {
  mask-image: linear-gradient(black, transparent 70%);
}

.mask-radial-faded {
  mask-image: radial-gradient(circle at center center, black, transparent 80%);
}

.mask-shortcutkeys {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 40%,
    black calc(60%),
    transparent 100%
  );
}

.text-shadow {
  text-shadow: rgb(0 0 0 / 56%) 0 3px 12px;
}
