:root {
  // 圆角 基本
  --el-border-radius-base: 0.8rem;

  // 下拉框圆角
  --el-popover-border-radius: 0.8rem;

  // 对话框圆角
  --el-border-radius-small: 1rem;

  // 边框颜色
  --el-border-color-lighter: var(--el-bg-color);
}
